# <span style="color:#3399ff">Beautiful Soup - Exemplos</span>

In [26]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from datetime import datetime 
import numpy as np

In [2]:
html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

In [3]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [4]:
soup

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body></html>

In [5]:
print(soup.title)

<title>The Dormouse's story</title>

In [6]:
print(soup.head)

<head><title>The Dormouse's story</title></head>

In [7]:
print(soup.body.p)

<p class="title"><b>The Dormouse's story</b></p>

In [8]:
soup.find_all('p')

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [9]:
soup.find_all('p', 'title')

In [10]:
soup.find_all('p', class_='story')

[<p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [11]:
soup.find_all('a', class_='sister')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [12]:
soup.find_all('a', id='link1')

In [13]:
soup.find_all('a', id='link1')[0].string

'Elsie'

In [14]:
soup.find_all('a', id='link1')[0].get_text()

'Elsie'

# <span style="color:#3399ff">Beautiful Soup - Pr√°tica I</span>

In [10]:
# id
# product_name
# product_type
# product_composition
# preco

In [11]:
url = 'https://www2.hm.com/en_us/men/products/jeans.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get(url, headers=headers)

In [27]:
soup = BeautifulSoup(page.text, 'html.parser')

In [28]:
products = soup.find('ul', class_='products-listing small')

In [29]:
product_list = products.find_all('article', class_='hm-product-item')

In [30]:
len(product_list)

36

In [31]:
# product_id
product_id = [p.get('data-articlecode') for p in product_list]

# product_category
product_category = [p.get('data-category') for p in product_list]

# product_name
product_list = products.find_all('a', class_='link')
product_name = [p.get_text() for p in product_list] 

# product_price
product_list = products.find_all('span', class_='price regular')
product_price = [p.get_text() for p in product_list]

In [32]:
data = pd.DataFrame([product_id , product_category, product_name, product_price]).T
data.columns = ['product_id' , 'product_category', 'product_name', 'product_price']
data.head()

   product_id   product_category   product_name product_price
0  0979945001    men_jeans_loose    Loose Jeans       $ 29.99
1  1008549001  men_jeans_regular  Regular Jeans       $ 19.99
2  0811993040  men_jeans_regular  Regular Jeans       $ 29.99
3  0979945002    men_jeans_loose    Loose Jeans       $ 29.99
4  1008549004  men_jeans_regular  Regular Jeans       $ 19.99

In [33]:
# scrapy datetime
data['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [34]:
data.head()

,product_id,product_category,product_name,product_price,scrapy_datetime
0,0979945001,men_jeans_loose,Loose Jeans,$ 29.99,2022-02-05 11:58:59
1,1008549001,men_jeans_regular,Regular Jeans,$ 19.99,2022-02-05 11:58:59
2,0811993040,men_jeans_regular,Regular Jeans,$ 29.99,2022-02-05 11:58:59
3,0979945002,men_jeans_loose,Loose Jeans,$ 29.99,2022-02-05 11:58:59
4,1008549004,men_jeans_regular,Regular Jeans,$ 19.99,2022-02-05 11:58:59

# <span style="color:#3399ff">Beautiful Soup - Pr√°tica II</span>

- Sempre olhar a pagina√ß√£o na vitrine de produtos.

In [35]:
url = 'https://www2.hm.com/en_us/men/products/jeans.html'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get(url, headers=headers)

In [36]:
soup = BeautifulSoup(page.text, 'html.parser')

In [37]:
total_item = soup.find_all('h2', class_='load-more-heading')[0].get('data-total')

In [38]:
total_item

'67'

In [39]:
int(total_item)

67

- De quantas p√°ginas preciso para capturar todos os itens?

In [40]:
page_number = np.round(int(total_item)/36)
page_number

2.0

In [41]:
url02 = url + '?page-size=' + str(int(page_number*36))
url02

'https://www2.hm.com/en_us/men/products/jeans.html?page-size=72'

# <span style="color:#3399ff">Beautiful Soup - Pr√°tica III</span>

- Aqui, vamos coletar as informa√ß√µes para cada produto.

- Fazendo para um produto para testar:

In [42]:
url = 'https://www2.hm.com/en_us/productpage.1024256001.html'
    
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get(url, headers=headers)

In [43]:
soup = BeautifulSoup(page.text, 'html.parser')

In [44]:
type(soup)

bs4.BeautifulSoup

In [45]:
# color name - primeira posi√ß√£o
soup.find_all('a', class_='filter-option miniature')[0].get('data-color')

'Light denim blue'

In [46]:
# color name
product_color_list = soup.find_all('a', class_='filter-option miniature')
color_name = [p.get('data-color') for p in product_color_list]

# product_id
product_id = [p.get('data-articlecode') for p in product_color_list]

df_color = pd.DataFrame([product_id, color_name]).T
df_color.columns = ['product_id', 'color_name']
df_color

   product_id        color_name
0  1024256002  Light denim blue
1  1024256003  Light denim blue
2  1024256004        Denim blue
3  1024256005         Dark blue
4  1024256006   Dark denim blue
5  1024256007         Dark gray

In [47]:
product_color_list[0]

<a aria-checked="false" class="filter-option miniature" data-articlecode="1024256002" data-color="Light denim blue" data-sizes="" href="/en_us/productpage.1024256002.html" id="filter-colour-1024256002" role="radio" title="Light denim blue">
<noscript data-alt="Light denim blue" data-src="//lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fda%2Fba%2Fdabaf3f73477f46b068e2e02033aa0222206ef7f.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&amp;call=url[file:/product/miniature]">
<img alt="Light denim blue" src="//lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fda%2Fba%2Fdabaf3f73477f46b068e2e02033aa0222206ef7f.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&amp;call=url[file:/product/miniature]"/>
</noscript>
<span></span>
</a>

In [48]:
color_name

['Light denim blue',
 'Light denim blue',
 'Denim blue',
 'Dark blue',
 'Dark denim blue',
 'Dark gray']

In [49]:
product_id

['1024256002',
 '1024256003',
 '1024256004',
 '1024256005',
 '1024256006',
 '1024256007']

In [50]:
# composition
soup.find_all('div', class_='pdp-description-list-item')

[<div class="pdp-description-list-item">
 <dt>Size</dt>
 <dd>The model is 185cm/6'1" and wears a size 31/32</dd>
 </div>,
 <div class="pdp-description-list-item">
 <dt>Fit</dt>
 <dd>
 <ul>
 <li>Slim fit</li>
 </ul>
 </dd>
 </div>,
 <div class="pdp-description-list-item">
 <dt>Composition</dt>
 <dd>
 <ul>
 <li>Pocket lining: Polyester 65%, Cotton 35%</li>
 <li>Shell: Cotton 99%, Spandex 1%</li>
 </ul>
 </dd>
 </div>,
 <div class="pdp-description-list-item">
 <dt>Art. No.</dt>
 <dd>1024256001</dd>
 </div>]

In [51]:
type(soup.find_all('div', class_='pdp-description-list-item')[1])

bs4.element.Tag

In [52]:
soup.find_all('div', class_='pdp-description-list-item')[1].get_text().split('\n')

['', 'Fit', '', '', 'Slim fit', '', '', '']

- **Retirando essas posi√ß√µes vazias:**

In [53]:
list(filter(None, soup.find_all('div', class_='pdp-description-list-item')[1].get_text().split('\n')))

['Fit', 'Slim fit']

- **Construindo linha e coluna:**

In [54]:
product_composition_list = soup.find_all('div', class_='pdp-description-list-item')
product_composition = [list(filter(None, p.get_text().split('\n'))) for p in product_composition_list]
df_aux = pd.DataFrame(product_composition).T
df_aux

,0,1,2,3
0,Size,Fit,Composition,Art. No.
1,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",1024256001
2,None,None,"Shell: Cotton 99%, Spandex 1%",None

In [55]:
df_aux.iloc[0]

0           Size
1            Fit
2    Composition
3       Art. No.
Name: 0, dtype: object

In [56]:
# rename data frame
df_aux.columns = df_aux.iloc[0]
df_aux

,Size,Fit,Composition,Art. No.
0,Size,Fit,Composition,Art. No.
1,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",1024256001
2,None,None,"Shell: Cotton 99%, Spandex 1%",None

In [57]:
# # delete first row
df_aux = df_aux.iloc[1:].copy().reset_index()
# df_aux

- **Substituindo o None:**

In [58]:
df_aux

,index,Size,Fit,Composition,Art. No.
0,1,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",1024256001
1,2,None,None,"Shell: Cotton 99%, Spandex 1%",None

In [59]:
df_aux = df_aux.fillna(method='ffill')
df_aux

,index,Size,Fit,Composition,Art. No.
0,1,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",1024256001
1,2,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%",1024256001

In [60]:
df_composition = df_aux
df_composition

,index,Size,Fit,Composition,Art. No.
0,1,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",1024256001
1,2,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%",1024256001

In [61]:
# generate style id + color id
df_composition['style_id'] = df_composition['Art. No.'].apply(lambda x: x[:-3])
df_composition['color_id'] = df_composition['Art. No.'].apply(lambda x: x[-3:])
df_composition

,index,Size,Fit,Composition,Art. No.,style_id,color_id
0,1,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%",1024256001,1024256,001
1,2,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%",1024256001,1024256,001

In [62]:
# generate style id + color id
df_color['style_id'] = df_color['product_id'].apply(lambda x: x[:-3])
df_color['color_id'] = df_color['product_id'].apply(lambda x: x[-3:])
df_color

   product_id        color_name style_id color_id
0  1024256002  Light denim blue  1024256      002
1  1024256003  Light denim blue  1024256      003
2  1024256004        Denim blue  1024256      004
3  1024256005         Dark blue  1024256      005
4  1024256006   Dark denim blue  1024256      006
5  1024256007         Dark gray  1024256      007

In [63]:
# Join
pd.merge(df_color, df_composition[['style_id', 'Size', 'Fit', 'Composition']], how='left', on='style_id')

,product_id,color_name,style_id,color_id,Size,Fit,Composition
0,1024256002,Light denim blue,1024256,002,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
1,1024256002,Light denim blue,1024256,002,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
2,1024256003,Light denim blue,1024256,003,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
3,1024256003,Light denim blue,1024256,003,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
4,1024256004,Denim blue,1024256,004,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
5,1024256004,Denim blue,1024256,004,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
6,1024256005,Dark blue,1024256,005,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
7,1024256005,Dark blue,1024256,005,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
8,1024256006,Dark denim blue,1024256,006,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
9,1024256006,Dark denim blue,1024256,006,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
10,1024256007,Dark gray,1024256,007,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
11,1024256007,Dark gray,1024256,007,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"

# <span style="color:#3399ff">Juntando todos os passos anteriores </span>

## <span style="color:#ff8000">0. Packages </span>

In [64]:
import requests
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup

## <span style="color:#ff8000">1. One Product </span>

In [65]:
# API Requests
url = 'https://www2.hm.com/en_us/productpage.1024256001.html'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get( url, headers=headers )


# Beautiful Soup object
soup = BeautifulSoup(page.text, 'html.parser')

# ================== color name =====================================
product_list = soup.find_all('a', class_='filter-option miniature')
color_name = [p.get('data-color') for p in product_list]

# color name
product_color_list = soup.find_all('a', class_='filter-option miniature')
color_name = [p.get('data-color') for p in product_color_list]

# product_id
product_id = [p.get('data-articlecode') for p in product_color_list]

df_color = pd.DataFrame([product_id, color_name]).T
df_color.columns = ['product_id', 'color_name']

# generate style id + color id
df_color['style_id'] = df_color['product_id'].apply(lambda x: x[:-3])
df_color['color_id'] = df_color['product_id'].apply(lambda x: x[-3:])

# ================== composition =====================================
product_composition_list = soup.find_all('div', class_='pdp-description-list-item')
product_composition = [list(filter(None, p.get_text().split('\n'))) for p in product_composition_list]


# rename dataframe
df_composition = pd.DataFrame(product_composition).T
df_composition.columns = df_composition.iloc[0]


# delete first row
df_composition = df_composition.iloc[1:].fillna(method='ffill')
df_composition = df_composition[['Size','Fit', 'Composition', 'Art. No.']]

# generate style id + color id
df_composition['style_id'] = df_composition['Art. No.'].apply(lambda x: x[:-3])
df_composition['color_id'] = df_composition['Art. No.'].apply(lambda x: x[-3:])

# Merge data color + composition
data_sku = pd.merge(df_color, df_composition[['style_id', 'Size', 'Fit', 'Composition']], how='left', on='style_id')

In [66]:
data_sku

,product_id,color_name,style_id,color_id,Size,Fit,Composition
0,1024256002,Light denim blue,1024256,002,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
1,1024256002,Light denim blue,1024256,002,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
2,1024256003,Light denim blue,1024256,003,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
3,1024256003,Light denim blue,1024256,003,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
4,1024256004,Denim blue,1024256,004,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
5,1024256004,Denim blue,1024256,004,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
6,1024256005,Dark blue,1024256,005,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
7,1024256005,Dark blue,1024256,005,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
8,1024256006,Dark denim blue,1024256,006,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
9,1024256006,Dark denim blue,1024256,006,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"
10,1024256007,Dark gray,1024256,007,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Pocket lining: Polyester 65%, Cotton 35%"
11,1024256007,Dark gray,1024256,007,"The model is 185cm/6'1"" and wears a size 31/32",Slim fit,"Shell: Cotton 99%, Spandex 1%"

## <span style="color:#ff8000">2. Multiple Products </span>

In [103]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

# empty data frame to store all the needed information
df_details = pd.DataFrame()

# unique columns for all products
aux = []

cols = ['Art. No.', 'Composition', 'Fit', 'Product safatey', 'Size']
df_pattern = pd.DataFrame(columns=cols)



for i in range(len(data)):

    # API Requests
    url = 'https://www2.hm.com/en_us/productpage.' + data.loc[i, 'product_id'] + '.html'
    page = requests.get( url, headers=headers )


    # Beautiful Soup object
    soup = BeautifulSoup(page.text, 'html.parser')

    # ================== color name =====================================
    product_list = soup.find_all('a', class_='filter-option miniature')
    color_name = [p.get('data-color') for p in product_list]

    # color name
    product_color_list = soup.find_all('a', class_='filter-option miniature')
    color_name = [p.get('data-color') for p in product_color_list]

    # product_id
    product_id = [p.get('data-articlecode') for p in product_color_list]

    df_color = pd.DataFrame([product_id, color_name]).T
    df_color.columns = ['product_id', 'color_name']

    # generate style id + color id
    df_color['style_id'] = df_color['product_id'].apply(lambda x: x[:-3])
    df_color['color_id'] = df_color['product_id'].apply(lambda x: x[-3:])

    # ================== composition =====================================
    product_composition_list = soup.find_all('div', class_='pdp-description-list-item')
    product_composition = [list(filter(None, p.get_text().split('\n'))) for p in product_composition_list]


    # rename dataframe
    df_composition = pd.DataFrame(product_composition).T
    df_composition.columns = df_composition.iloc[0]


    # delete first row
    df_composition = df_composition.iloc[1:].fillna(method='ffill')
    

    # generate style id + color id
    df_composition['style_id'] = df_composition['Art. No.'].apply(lambda x: x[:-3])
    df_composition['color_id'] = df_composition['Art. No.'].apply(lambda x: x[-3:])
    
    aux = aux + df_composition.columns.tolist()
    
    

    # Merge data color + composition
    data_sku = pd.merge(df_color, df_composition, how='left', on='style_id')
    
    # all details products
    df_details = pd.concat( [df_details, data_sku], axis=0 )
    
    # Join Showroom data + details
    data['style_id'] = data['product_id'].apply( lambda x: x[:-3] )
    data['color_id'] = data['product_id'].apply( lambda x: x[-3:] )
    
    data_raw = pd.merge(data, df_details, how='left', on='style_id')

# Salvando a base de dados em csv
data_raw.to_csv('products_hm.csv')

In [102]:
data_raw

,product_id_x,product_category,product_name,product_price,scrapy_datetime,style_id,color_id,product_id_y,color_name,color_id_x,Size,Fit,Composition,More sustainable materials,Art. No.,color_id_y,Product safety
0,0979945001,men_jeans_loose,Loose Jeans,$ 29.99,2022-02-05 11:58:59,0979945,001,0979945002,Denim blue,002,"The model is 180cm/5'11"" and wears a size 31/32",Loose fit,"Pocket lining: Polyester 65%, Cotton 35%",Recycled cotton 20%,0979945001,001,NaN
1,0979945001,men_jeans_loose,Loose Jeans,$ 29.99,2022-02-05 11:58:59,0979945,001,0979945002,Denim blue,002,"The model is 180cm/5'11"" and wears a size 31/32",Loose fit,Shell: Cotton 100%,Recycled cotton 20%,0979945001,001,NaN
2,0979945001,men_jeans_loose,Loose Jeans,$ 29.99,2022-02-05 11:58:59,0979945,001,0979945003,Black,003,"The model is 180cm/5'11"" and wears a size 31/32",Loose fit,"Pocket lining: Polyester 65%, Cotton 35%",Recycled cotton 20%,0979945001,001,NaN
3,0979945001,men_jeans_loose,Loose Jeans,$ 29.99,2022-02-05 11:58:59,0979945,001,0979945003,Black,003,"The model is 180cm/5'11"" and wears a size 31/32",Loose fit,Shell: Cotton 100%,Recycled cotton 20%,0979945001,001,NaN
4,0979945001,men_jeans_loose,Loose Jeans,$ 29.99,2022-02-05 11:58:59,0979945,001,0979945001,Light denim blue,001,NaN,Loose fit,Shell: Cotton 100%,Recycled cotton 20%,0979945002,002,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,1008549002,men_jeans_regular,Regular Jeans,$ 19.99,2022-02-05 11:58:59,1008549,002,1008549004,Dark blue,004,"The model is 185cm/6'1"" and wears a size 31/32",Regular fit,"Shell: Cotton 99%, Spandex 1%",Recycled cotton 20%,1008549002,002,NaN
1974,1008549002,men_jeans_regular,Regular Jeans,$ 19.99,2022-02-05 11:58:59,1008549,002,1008549006,Black,006,"The model is 185cm/6'1"" and wears a size 31/32",Regular fit,"Pocket lining: Polyester 65%, Cotton 35%",Recycled cotton 20%,1008549002,002,NaN
1975,1008549002,men_jeans_regular,Regular Jeans,$ 19.99,2022-02-05 11:58:59,1008549,002,1008549006,Black,006,"The model is 185cm/6'1"" and wears a size 31/32",Regular fit,"Shell: Cotton 99%, Spandex 1%",Recycled cotton 20%,1008549002,002,NaN
1976,1008549002,men_jeans_regular,Regular Jeans,$ 19.99,2022-02-05 11:58:59,1008549,002,1008549008,Light denim blue,008,"The model is 185cm/6'1"" and wears a size 31/32",Regular fit,"Pocket lining: Polyester 65%, Cotton 35%",Recycled cotton 20%,1008549002,002,NaN
1977,1008549002,men_jeans_regular,Regular Jeans,$ 19.99,2022-02-05 11:58:59,1008549,002,1008549008,Light denim blue,008,"The model is 185cm/6'1"" and wears a size 31/32",Regular fit,"Shell: Cotton 99%, Spandex 1%",Recycled cotton 20%,1008549002,002,NaN