# <span style="color:#ff6600">Os principais comandos de Banco de Dados </span>

**SELECT** - Extrai de um banco de dados

**UPDATE** - Atualiza um dado no banco de dados

**DELETE** - Apaga dados de uma tabela do banco de dados, mas mantém a estrutura da tabela

**INSERT INTO** - Insere um novo registro em um banco de dados 

**CREATE DATABASE** - Cria um novo banco de dados

**ALTER DATABASE** - Modifica um banco de dados

**CREAT TABLE** - Cria uma nova tabela

**ALTER TABLE** - Modifica uma tabela

**DROP TABLE** - Apaga a tabela e a estrutura

**CREAT INDEX** - Cria um index (chave de busca)

**DROP INDEX** - Apaga o index

# <span style="color:#ff6600">Armazenamento de Dados na Prática</span>

## <span style="color:#2596be">SQLite 3</span>

SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. SQLite is the most used database engine in the world. SQLite is built into all mobile phones and most computers and comes bundled inside countless other applications that people use every day. (from https://www.sqlite.org/index.html)

## <span style="color:#2596be"> Salvando o SQLite 3 na prática </span>

In [1]:
import pandas as pd 
import sqlite3

In [2]:
data = pd.read_csv('products_hm_cleaned.csv')

In [3]:
data.head()

,product_id,product_category,product_name,product_price,scrapy_datetime,style_id,color_id,color_name,fit,size_number,size_model,cotton,polyester,spandex
0,811993040,men_jeans_regular,regular_jeans,29.99,2022-02-05 11:58:59,811993,40,black/washed_out,regular_fit,NaN,NaN,98,0,2
1,811993040,men_jeans_regular,regular_jeans,29.99,2022-02-05 11:58:59,811993,40,denim_blue,regular_fit,NaN,NaN,98,0,2
2,811993040,men_jeans_regular,regular_jeans,29.99,2022-02-05 11:58:59,811993,40,dark_denim_blue,regular_fit,NaN,NaN,98,0,2
3,811993040,men_jeans_regular,regular_jeans,29.99,2022-02-05 11:58:59,811993,40,graphite_gray,regular_fit,NaN,NaN,98,0,2
4,811993040,men_jeans_regular,regular_jeans,29.99,2022-02-05 11:58:59,811993,40,light_denim_blue,regular_fit,NaN,NaN,98,0,2

In [7]:
query_showroom_schema = """
    CREATE TABLE vitrine(
        product_id         INTENGER, 
        product_category   TEXT, 
        product_name       TEXT, 
        product_price      REAL,
        scrapy_datetime    TEXT, 
        style_id           INTENGER, 
        color_id           INTENGER, 
        color_name         TEXT, 
        fit                TEXT,
        size_number        REAL, 
        size_model         TEXT, 
        cotton             INTENGER, 
        polyester          INTENGER, 
        spandex            INTENGER
    )
"""

In [8]:
# connect to database
conn = sqlite3.connect('hm_db.sqlite')
cursor = conn.execute(query_showroom_schema)
conn.commit()
conn.close()

In [16]:
from sqlalchemy import create_engine

In [17]:
conn = create_engine('sqlite:///hm_db.sqlite', echo=False)

In [18]:
conn

Engine(sqlite:///hm_db.sqlite)